# Portal values
image:
  registry: eu.gcr.io/spherical-plane-479301-d5
  repository: portal
  tag: c1d2370
  pullPolicy: IfNotPresent
replicas: 1
autoscaling:
  enabled: false
  minReplicas: 3
  maxReplicas: 5
  targetCpu:
    type: Utilization
    averageUtilization: 60
  targetMemory:
    type: AverageValue
    averageValue: 300Mi
rollingUpdate: {}

applicationPort: 4000

resources:
  requests:
    # CPU request needed for HPA
    # see https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/#support-for-resource-metrics
    cpu: 200m
    memory: 650Mi

sealedSecrets: true

scheduler:
  enabled: false
  tasks:
    - name: recurring-invoices
      args:
        - invoice:recurring:create
        - --networkType
        - live
      schedule: "0 11 * * *"
    - name: subscription-bills-creation
      args:
        - subscriptions:bills:create:all
        - --networkType
        - live
      schedule: "10 10 * * *"
    - name: unpaid-subscription-notification
      args:
        - subscriptions:bills:notify-unpaid
      schedule: "10 10 * * 1"
    - name: subscription-seats-monitoring
      args:
        - subscriptions:seats:monitor-usage
      schedule: "10 20 * * 1"
    - name: invoice-approvers-notify-test
      args:
        - approval:notify
        - --networkType
        - test
      schedule: "0 */2 * * 1-5"
    - name: invoice-approvers-notify-live
      args:
        - approval:notify
        - --networkType
        - live
      schedule: "0 */2 * * 1-5"
    - name: payso-kyb-reminder
      args:
        - users:external-account:payso-kyb-reminder
      schedule: "0 11 * * *"
    - name: async-transaction-monitoring
      args:
        - tx:monitor:all
      schedule: "*/30 * * * *"
    - name: safe-tx-monitoring
      args:
        - tx:monitor:malicious-safe-transaction
      schedule: "0 */2 * * *"
    - name: execute-pending-quotes
      args:
        - crypto-to-fiat:execute-pending-quotes
      schedule: "*/3 * * * *"
  resources:
    requests:
      cpu: 200m
      memory: 300Mi
    limits:
      memory: 1Gi

subscriber:
  enabled: false
  replicas: 1
  resources:
    requests:
      cpu: 100m
      memory: 300Mi
    limits:
      memory: 1Gi
subscriberRequestUpdated:
  enabled: false
  replicas: 1
  pubsub:
    subscription: request-updated-sub
  resources:
    requests:
      cpu: 200m
      memory: 300Mi
    limits:
      memory: 1Gi
subscriberCreateRequests:
  enabled: false
  replicas: 1
  pubsub:
    subscription: create-requests-sub
  resources:
    requests:
      cpu: 100m
      memory: 250Mi
    limits:
      memory: 400Mi
subscriberCsvExport:
  enabled: false
  replicas: 1
  pubsub:
    subscription: csv-export-sub
  resources:
    requests:
      cpu: 200m
      memory: 300Mi
    limits:
      memory: 1Gi

securityContext:
  enabled: true
  fsGroup: 1001
  runAsUser: 1001

sync:
  enabled: false
  replicas: 1
  image:
    registry: eu.gcr.io/spherical-plane-479301-d5
    repository: api-sync
    pullPolicy: IfNotPresent
  debug:
    graphql: true
  pubsub:
    subscription: api-sync-subscription
  autoscaling:
    enabled: false
  resources:
    requests:
      cpu: 50m
      memory: "0.3Gi"
    limits:
      cpu: 400m
      memory: "0.75Gi"
extraEnvSecrets:
  RT_API_LIVE_API_KEY: AgBEXshXrF8/pLgtoEjhVHIJz3amcgdmzpmkp2VTmqrsYAuVolXanOfWmJsdMccb6XuhT+JVXRMwGv799NsQM7aRmWFAPqlVHuBFM24OOu6pB7HxlECIal9cI8OOwHnPwYo1AxvFjwV480oAvIn/nLPxftV+cVno9iEiOBmSjy1A2d5IGeCjOY5J+Fq7w3/gpd65Ko6yup3zkz3HO9SSM7hQJL9YanpdpCG22bl2sNnHZ26f2Ob7t/AyjB0nGj08kcOHHwtpNqd3E9J3CPX6OrSsGvUhB+usK8dqQixMeSQ5cjhu13DUjY7Qe/YSSIDZ8yRuwNt7FY+w8MbXyg+IF3AMy5/yKpqwSlEq+IL9iSdJgAfz+wBLTNB70k6d4FMKniU6j4CEtfmbjjf/EZBDQXYpfAzo6cEI4wQl3ApQlytJ7FKHLZ4p39kERi/BzJkce/U9KK6FIyM5TczND77ZaJUzueiDOKCTg0wpFS2Z7AnLymsfyQ3jMt73CTgzNT7sHx+NpoNaSQKnKkSbU8MbpfRmQ71z39yxInD33ydblCCkbL4DA/f6jazOGYQ7X+SshHiEx+MYRo49vBAxXVZqbibBWrgRKJ53Crys6+aM8+z7Ut0Be4/qVk/u2UywtNi7i7UaW5rAS7/SjZYI1G+9PQWqMwDaENlX4metP6IkffrQAyqx+X3AoTn2RDfYsBv+mhsfSHcfVLfIh50hv4BTL4gDB5otpsCSRDs=
  RT_API_STAGING_API_KEY: AgCO9uX1FdUvgXwnMwTnSXIqk9RSfp8NArFYn05s/+7vpGzX3ZYVuNeYX5sNweF9TpZNdR9LzxQ3z99Og7jz9dCjdl99cvIHcO5Q9EKcjNkeG88sDELydov9DIfKo/iqPVJ2yRxabQ0PQP4uFlcBX2tFg+XDeKCmyF8wQfyprS8lXTJcn6g8sgoM4flrfy5bjB6+P4IloBmiM7ksXioYBgy+BmOEI606PEEXvcDe2Ewf/5LW4G11i4FkFJIsJp85kRcN1ugLLrgTGVAGVaMn23WnvFMDAGiGlBPlR2caUS87ezUZ3Q0a70v+z1/UU9lHIErZYr3FV4y1iSfwu0EkYnEtD0JVx6bohQq9OTlw/ZTxQWMsn3o7Sckqz2TIfYaSWrXqUuXsfYmEznGX+t4SEn5xW7W+6pS/As8GbiU8DU+8zDum/yYrfSWo9DXVFKArjviSrgFyFSuM29NgwjOgPrrf5rj/YaIJ4GokRBO+aEqnSKN7f/m5tOHRvxZTjjE0e5hNa/F9Mvyq1wHsB8EmEFFj0xw7XeeLYBQp8hqA5ENwXyRghbAAWRh3RavuJGT4/A7W17L10GspG+AOi4u3Jf7xkjrvM2Ns37xlJVepwvEVSv41i3w03NkdnHqmtQFQdyoZiCHQMVrXHkscK2uVMwCp+4xRIO2/ludRNJMm2EfutaBV80r64T0UPtmmwivGebcBPlma6/BoCcqKR2aM1AxtAUQbGUJs

workloadIdentity: argocd-sa@spherical-plane-479301-d5.iam.gserviceaccount.com
